@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
/*
------------------------
------Variables---------
------------------------
*/
:root {
  --c-strong-cyan: hsl(171, 66%, 44%);
  --c-light-blue: hsl(233, 100%, 69%);
  --c-d-grayish-blue: hsl(210, 10%, 33%);
  --c-grayish-blue: hsl(201, 11%, 66%);
  --foooter: hsl(204, 17%, 89%);
  --c-white: #fff;
  --c-black: hsl(0, 0%, 0%);
  --fs: 1.8rem;
  --fw-4: 400;
  --fw-6: 600;
}

html {
  font-size: 62.5%;
}

/*
------------------------
----------Reset----------
------------------------
*/
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: "BAi Jamjure", sans-serif;
  font-size: var(--fs);
  line-height: 30px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input,
button,
textarea {
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style-type: none;
}

img,
picture {
  display: inline-block;
  object-fit: cover;
}

/*
------------------------------
--------Reusable Code----------
------------------------------
*/
.parag {
  color: var(--c-grayish-blue);
  font-size: var(--fs);
  text-align: center;
  font-weight: var(--fw-4);
}

.header__main {
  font-size: 3rem;
  font-weight: 600;
  color: var(--c-d-grayish-blue);
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  padding: 1.5rem 7rem;
  border-radius: 100px;
  color: var(--c-white);
  display: inline-block;
  text-align: center;
}
.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.btn-container .blue {
  background-color: var(--c-light-blue);
  position: relative;
  overflow: hidden;
}
.btn-container .cyan {
  background-color: var(--c-strong-cyan);
}

.header__secondary {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: var(--c-d-grayish-blue);
  margin-bottom: 1rem;
}

.header__tetiary {
  color: var(--c-d-grayish-blue);
  font-weight: var(--fw-6);
  font-size: 2.5rem;
  text-align: center;
}

.footer__link {
  font-size: 2rem;
  color: var(--c-d-grayish-blue);
}

/*
------------------------
--------Header----------
------------------------
*/
.header {
  background-image: url(../images/bg-header-mobile.png);
  background-repeat: no-repeat;
  margin-bottom: 14rem;
  padding-block: 10rem 3rem;
  width: 100%;
  background-size: cover;
}
.header__container {
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  gap: 2rem;
}
.header__content {
  padding-inline: 2rem;
}

/*
------------------------
----------Main----------
------------------------
*/
.main {
  width: 90vw;
  margin-inline: auto;
  margin-bottom: 3rem;
}
.main .intro {
  margin-bottom: 13rem;
}
.main .intro__title {
  margin-block: 2rem 3rem;
}
.main .intro__grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
}
.main .intro__img {
  background-image: url(../images/image-computer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .intro__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.main .about {
  margin-bottom: 12rem;
}
.main .about__title {
  margin-bottom: 5rem;
}
.main .about__workflow {
  display: grid;
  grid-template-rows: 1fr 2fr;
  margin-bottom: 6rem;
}
.main .about__workflow .workflow {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-block: 4rem;
}
.main .about__workflow .workflow__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main .about__img {
  background-image: url(../images/image-devices.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.main .about__companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.main .download {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-bottom: 3rem;
  align-items: center;
  justify-content: center;
}

/*
--------------------------
----------Footer----------
--------------------------
*/
.footer {
  padding: 3rem 2rem;
  background-color: var(--foooter);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.footer__logo img {
  width: 10rem;
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.footer__icons {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

/*
---------------------------------
----------Desktop version----------
--------------------------------
*/
@media screen and (min-width: 900px) {
  .btn {
    padding: 1rem 5rem;
  }
  .btn-container {
    flex-direction: row;
  }
}
@media screen and (min-width: 900px) {
  .header__secondary {
    margin-bottom: 3rem;
  }
  .header {
    background-image: url(../images/bg-header-desktop.png);
  }
  .header__container {
    gap: 4rem;
  }
  .header__content {
    max-width: 50%;
  }
  .main {
    width: 100%;
  }
  .main .intro__title {
    max-width: 50%;
    margin-inline: auto;
    margin-bottom: 10rem;
  }
  .main .intro__grid {
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .main .intro__img {
    background-size: 100%;
  }
  .main .intro__content .details {
    width: 90%;
  }
  .main .intro__content .details .header__secondary,
.main .intro__content .details .parag {
    text-align: left;
  }
  .main .intro__content .details .header__secondary {
    margin-bottom: 1rem;
  }
  .main .about__title {
    width: 50%;
    margin-inline: auto;
  }
  .main .about__workflow {
    grid-template-rows: repeat(2, 1fr);
  }
  .main .about__workflow .text__box {
    padding-block: 10rem;
  }
  .main .about__workflow .workflow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 2rem;
  }
  .main .about__companies {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0;
  }
  .main .download {
    max-width: 70%;
    margin-inline: auto;
  }
  .footer {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2fr 1fr;
  }
  .footer__details {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .main .intro__img {
    background-size: auto 100%;
    background-position-x: right;
  }
  .main .intro__content {
    margin-block: 11rem;
  }
  .main .intro__content .details {
    width: 56%;
  }
  .main .download {
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
